<section class="section-contact section-wrapper gray-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>Contact</h2>
        </div>
      </div>
    </div>
    <!--.row-->
    <div class="row">
      <div class="col-md-12">
        <address>
          <strong>Address</strong><br>
          Amawbia, Awka<br>
          420212<br>
          Anambra State, Nigeria
        </address>
        <address>
          <strong>Phone Number</strong><br>
          +234 70 3876 1251
        </address>

        <address>
          <strong>Email</strong><br>
          <a href="mailto:livinus619@live.com">livinus619@live.com</a>
        </address>
      </div>
    </div>
    <!--.row-->
  </div>
  <!--.container-fluid-->
</section>
<!--.section-contact-->