<section class="intro section-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>What I am all about.</h2>
        </div>
      </div>
      <div class="col-md-12">
        <p>
        I am 23 years old from Cross river, Nigeria. An Innovative Backend developer with a demonstrated history of
        working in the computer software industry skilled in creating application programming interfaces. Skilled in
        DevOps, Application Programming Interfaces and Database Administration. Strong engineering professional with a
        Bachelor of Engineering - BE focused in Computer and software Engineering from Michael Okpara University of
        Agriculture, Umudike, Abia state.
        </p>

        <p>
          I am always focused on improving myself as a person and as a developer. Currently I am looking to strenghten my DevOps Skill sets.
          To that I have been studying cloud computing platforms and technologies like (AWS and GCP) and other tools such as terraform, ansible and kubernetes.
          Apart from that I love collaborating to solve issues and share ideas. Core to my personal mantra is developing strong emotional intelligence to work with negative feedback and criticism to improve regardless of my environment.
        </p>
      </div>
    </div>
  </div>
</section>