<section class="intro section-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>What I am all about.</h2>
        </div>
      </div>
      <div class="col-md-12">
        <p class="text-justify">
        An Innovative Backend developer with a demonstrated history of working in the computer software industry skilled in creating application programming interfaces. Skilled in
        DevOps, Application Programming Interfaces and Database Administration. Strong engineering professional with a
        Bachelor of Engineering - B.Eng focused in Computer and software Engineering from Michael Okpara University of
        Agriculture, Umudike, Abia state.
        </p>
      </div>
    </div>
  </div>
</section>