<div class="columns-block">
  <div class="left-col-block blocks">
    <a 
      class="btn btn-lg btn-block btn-primary"
      href="https://docs.google.com/document/export?format=pdf&id=1Hvb54wHnIW2trZJayJ1buKsPQ2npyc7_j5n_8PJjqqY"
      rel="external nofollow"
    >
    <i class="fa fa-cloud-download" aria-hidden="true"></i>
    Download my CV
  </a>
    <app-profile></app-profile>
    <!-- .header-->
  </div>


  <div class="right-col-block blocks">
    <app-intro></app-intro>
    
    
    <app-expertise></app-expertise>

    <app-skills></app-skills>

    <app-experiencies></app-experiencies>

    <app-education></app-education>

    

    <!-- <app-portfolios></app-portfolios> -->

    <app-interests></app-interests>

    <app-contacts></app-contacts>

    <footer class="footer">
      <div class="copyright-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="copytext">&copy; {{date}} Livinus Igbaji Oga-ifu Online CV. All rights reserved | Design By: <a
                  href="https://themehippo.com">ThemeHippo</a></div>
            </div>
          </div>
          <!--.row-->
        </div>
        <!-- .container-fluid -->
      </div>
      <!-- .copyright-section -->
    </footer>
    <!-- .footer -->
  </div>
  <!-- .right-col-block -->
</div>