<div class="columns-block">
  <div class="left-col-block blocks">
    <app-profile></app-profile>
    <!-- .header-->
  </div>


  <div class="right-col-block blocks">
    <app-intro></app-intro>
    
    
    <button class="btn btn-lg btn-block btn-primary">Download my CV</button>
    <app-expertise></app-expertise>

    <app-skills></app-skills>

    <app-experiencies></app-experiencies>

    <app-education></app-education>

    

    <app-portfolios></app-portfolios>

    <app-interests></app-interests>

    <app-contacts></app-contacts>

    <footer class="footer">
      <div class="copyright-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="copytext">&copy; 2015 Online CV. All rights reserved | Design By: <a
                  href="https://themehippo.com">ThemeHippo</a></div>
            </div>
          </div>
          <!--.row-->
        </div>
        <!-- .container-fluid -->
      </div>
      <!-- .copyright-section -->
    </footer>
    <!-- .footer -->
  </div>
  <!-- .right-col-block -->
</div>